main{
  display: flex;
  width: 100%;
  height: 150px;
  background-color: darkgray;
}

main div{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: 30px auto;
}

.box1{
  background-color: blue;
}

.box2{
  background-color: yellow;
}

.sp_box3{
  background-color: darkcyan;
}

@media screen and (max-width:768px) {
  main{
    background-color: black;
  }
}

/* @media screen and (max-width:500px) {
  main{
    background-color: white;
    background-image: url(/img/img.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  main div{
    display:none;
  }
} */

.container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
  /* 画面が狭いと折り返す */
}

.item{
  width: 300px;
  height: 250px;
  background-color: lightblue;
  text-align: center;
}

/* 画面幅が768px以下なら縦並びに */
@media screen and (max-width: 768px) {
 .item{
  width: 100%;
 }  
}

.grid_container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  /* 200px以下になると折り返してくれる */
  gap: 10px;
}

.item{
  background-color: cadetblue;
}