* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  /* 初期スタイルを消す(liの"・"とか) */
}

img {
  vertical-align: middle;
}

.img_logo {
  display: flex;
  height: 100px;
  width: 100px;
}


.menu {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-top: 8px;
  font-size: clamp(14px, 3vw, 24px);
  margin-right: 16px;
}

.img_alamode {
  margin-top: 10px;
  width: 100%;
  min-width: 160px
}

.content {
  display: flex;
  justify-content: center;
  gap: 60px;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 30px;
}

.content img{
  width: 100%;
  max-width: 120px;
  height: auto;
}

.site_titile{
  background-color: bisque;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

.site_titile h1 {
  font-size: clamp(20px, 5vw, 36px);
  font-weight: bold;
}

.article {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.img_article {
  width: 150px;      
  height: auto;
  object-fit: cover;
}

.article_text {
  flex: 1;    
}



@media (max-width: 768px) {
  .article {
    flex-direction: column; /* ← これで縦並び */
    align-items: center;
    text-align: center;
  }
}

.fotter{
  background-color: rgb(168, 168, 234);
  padding: 20px 0;
  text-align: center;
  width: 100%;
  margin-top: 20px;
}