.container{
  display: grid; 
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  margin-bottom: 5px;
}

.item{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
  }

  .table{
    display: table;
    width: 100%;
    border-collapse: collapse;
  }

  .row{
    display: table-row;
  }

.cell{
  display: table-cell;
  border: 1px solid black;
  padding: 10px;
}

/* .fixed{
  width: 50px;
  height: 50px;
  background-color: blue;
  position: fixed;
  top: 30px;
  left: 0px;
} */

.relative{
  width: 500px;
  height: 500px;
  background-color: brown;
  position: relative;
  /* position: relative; */
  /* top: 20px;
  left: 0px; */
  /* display: flex;
  justify-content: center; */
  display: flex;
  justify-content: center;
}

.absolute{
  width: 100px;
  height: 100px;
  background-color: aliceblue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translate(-50%);
  left: 50%;

  /* text-align: center; */
}

.main{
  width: 80%;
  margin: 0 auto;
  background-color: teal;
  text-align: center;
}

.span{
  background-color: white;
}

.table_box{
  width: 500px;
  height: 500px;
  background-color: lightcyan;
  /* display: table; */
  display: grid;
  align-items: center;
}

.table_cell{
  width: 100px;
  height: 100px;
  /* display: table-cell;
  background-color: coral; */
  /* vertical-align: middle; */
  background-color: coral;
}

.box{
  width: 500px;
  height: 100px;
  background-color: lightblue;
}

.box>span{
  /* .boxの中にあるspanを指定している */
  background-color: white;
  line-height: 100px;
}

.img_alamode{
  width: 100vh;
  /* max-width: 800px; */
  /* どんなにウィンドウを大きくしてもマックス800px */

}

html{
  font-size: 15px;
}

.p_box{
  font-size: 20px;
}

.c_box1{
  font-size: 2em;
  /* 親要素の2倍 */
}

.c_box2{
  font-size: 2rem;
  /* htmlのサイズの2倍 */
}

.min_box{
  width: min(90%,1200px);
  /* どちらか小さいほうが採用される */
  height: 100px;
  background-color: blueviolet;
  font-size: clamp(14px,2vw,24px);
  /* ウィンドウサイズに合わせるが14px~24pxの間 */
}

/* @media screen and (max-width:600px) {
  html{
    font-size: 12px;
  }
  
  .p_box{
    font-size: 14px;
  }
} */